/*base background color*/
@define-color bg_main rgba(30,36,43,1); /* Very Dark Grey but it isn't black */

/*border colour */
@define-color border_main rgba(120,120,120,1); /*#808080; Light Grey */

/*colour for active items */
@define-color is_selected rgba(70, 20, 175, 1); /* Blurple */

* {
	background-image: none;
	box-shadow: none;
}

window {
	background-color: rgba(12, 12, 12, 0.5);

}

button {
  border-radius: 8px;
  color: #FFFFFF;
	background-color: @bg_main;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 25%;
  border: 2px solid @border_main;
  font-size: 24px;
}

button:hover {
  background-color: @is_selected;
	outline-style: none;
}

#lock {
    background-image: image(url("/usr/share/wlogout/icons/lock.png"), url("/usr/share/wlogout/icons/lock.png"));
}

#logout {
    background-image: image(url("/usr/share/wlogout/icons/logout.png"), url("/usr/local/share/wlogout/icons/logout.png"));
}

#suspend {
    background-image: image(url("/usr/share/wlogout/icons/suspend.png"), url("/usr/local/share/wlogout/icons/suspend.png"));
}

#hibernate {
    background-image: image(url("/usr/share/wlogout/icons/hibernate.png"), url("/usr/local/share/wlogout/icons/hibernate.png"));
}

#shutdown {
    background-image: image(url("/usr/share/wlogout/icons/shutdown.png"), url("/usr/local/share/wlogout/icons/shutdown.png"));
}

#reboot {
    background-image: image(url("/usr/share/wlogout/icons/reboot.png"), url("/usr/local/share/wlogout/icons/reboot.png"));
}
