/*base background color*/
@define-color bg_main rgba(25, 25, 25, 0.65);
@define-color bg_main_tooltip rgba(0, 0, 0, 0.7);

/*base background color of selections */
@define-color bg_hover rgba(200, 200, 200, 0.3);
/*base background color of active elements */
@define-color bg_active rgba(100, 100, 100, 0.5);

/*base border color*/
@define-color border_main rgba(255, 255, 255, 0.2);

/*text color for entries, views and content in general */
@define-color content_main white;
/*text color for entries that are unselected */
@define-color content_inactive rgba(255, 255, 255, 0.25);

/*colour for active items */
@define-color is_selected #fa5aa4;


/*############################### Base Styling Settings ###############################*/
* {
  border: none;
  border-radius: 0px;
  min-height: 0px;
  margin: 0px 0px;
  padding: 0px;

}

#waybar {
  background: #000000; /* fallback colour */
  background-color: rgba(25,25,25,0); /*last number sets the opacity, 0 is clear 1 is full colour*/
  color: #eeeeef;
  font-size: 80px;
  font-family: "Fira Code Nerd Font";
}






/*############################### Styling for Quick Links ###############################*/

#custom-steam{
  color: #c7d5e0;
  padding: 0px 40px;

}
#custom-thunderbird{
  color: #76f9ee;
  padding: 0px 40px;

}
#custom-discord{
  color: #9CA6FF;
  padding: 0px 40px;
}
/*Group*/
#quicklinks {
  background-color: rgba(30,36,43,0.8); /* Same background as individual items */
  border-radius: 8px; /* Rounded corners for the container */
  margin: 4px 4px;
  padding: 0px 20px;
}

