* {
  border: none;
  border-radius: 0px;
  min-height: 0px;
  margin: 0px 0px;
  padding: 0px;
}

#waybar {
  background: #1e222a; /* fallback colour */
  background-color: rgba(25,25,25,0.5); /*last number sets the opacity, 0 is clear 1 is full colour*/
  color: #eeeeef;
  font-size: 16px;
  font-family: "Fira Code Nerd Font";
}

#workspaces button {
  color: #eeeeef;
}
/* Fix: active workspace doesn't show up */
/* #workspaces button.focused { */
#workspaces button.active {
  color: #fa5aa4;
}

/* Tooltips */
tooltip {
  background-color: rgba(30,36,43,0.8); /*#303643; */
  border-radius: 8px;
}

tooltip label {
  color: #eeeeef;
}

/*Main Styling*/
#custom-powermenu,
#cpu,
#workspaces,
#temperature,
#memory,
#clock,
#pulseaudio,
#window,
#disk,
/*#custom-steam,
#custom-discord,
#custom-thunderbird,*/
#tray{
  padding: 2px 8px;
  background-color: rgba(30,36,43,0.8); /*#303643; */
  margin: 4px 4px;
  border-radius: 8px;
  color: #eeeeef;
}

/*Specific Styling*/
#window {
  color:  #ffffff; 
}

#custom-powermenu {
  color: #e06c75;
  padding-right: 12px;
  margin-right: 8px;
}


#pulseaudio {
  color: #0fb9b1;
  padding-right: 14px;
}

#cpu {
  color: #61afef;
}

#temperature {
  /*color: #98c379;*/
  color: #FF7F7F;
}

#memory {
  color: #e5c07b;
}

#workspaces{
  padding-left: 5px;
  padding-right: 4px;
}

#custom-steam,
#custom-thunderbird,
#custom-discord{
  background-color: rgba(30,36,43,0.8);
  border-radius: 8px;
  margin: 4px 4px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 90%;
}
#custom-steam{
  margin-left: 8px;
  padding-left: 4px;
  color: #c7d5e0;
  /*background-image: url('/usr/share/icons/Tela/scalable/apps/steam.svg'); color: #A4E1FF*/
}
#custom-thunderbird{
  padding-left: 4px;
  color: #76f9ee;
  /*background-image: url('/usr/share/icons/Tela/scalable/apps/thunderbird.svg');*/
}
#custom-discord{
  padding-left: 4px;
  padding-right: 2px;
  color: #9CA6FF;
  /*background-image: url('/usr/share/icons/Tela/scalable/apps/discord.svg');*/
}


