/*base background color*/
@define-color bg_main rgba(25, 25, 25, 0.65);
@define-color bg_main_tooltip rgba(0, 0, 0, 0.7);


/*base background color of selections */
@define-color bg_hover rgba(200, 200, 200, 0.3);
/*base background color of active elements */
@define-color bg_active rgba(100, 100, 100, 0.5);

/*base border color*/
@define-color border_main rgba(255, 255, 255, 0.2);

/*text color for entries, views and content in general */
@define-color content_main white;
/*text color for entries that are unselected */
@define-color content_inactive rgba(255, 255, 255, 0.25);

/*colour for active items */
@define-color is_selected #fa5aa4;



* {
  border: none;
  border-radius: 0px;
  min-height: 0px;
  margin: 0px 0px;
  padding: 0px;
}

#waybar {
  background: #1e222a; /* fallback colour */
  background-color: rgba(25,25,25,0.5); /*last number sets the opacity, 0 is clear 1 is full colour*/
  color: #eeeeef;
  font-size: 16px;
  font-family: "Fira Code Nerd Font";
}


/*                               Styling for Workspaces                                  */
#workspaces button {
  color: #eeeeef;
}

#workspaces button.active {
  color: @is_selected;
}

/*                               Styling for Taskbar                            */

#taskbar {
  background-color: rgba(30,36,43,0.8); 
  border-radius: 8px;
  color: #eeeeef;
  margin: 4px 4px;
}
#taskbar button{
  color: #000000;
  border-radius: 4px;
  border-color: @is_selected;
  padding: 0px 10px;
  border-radius: 8px;
  color: #eeeeef;
}

#taskbar button.active {
    background-color: rgba(120,81,169,0.5);}

#taskbar button:hover {
    background: @is_selected;
}

/*                     Tooltips                                                */
tooltip {
  background-color: rgba(30,36,43,0.8); 
  border-radius: 4px;
}

tooltip label {
  color: #eeeeef;
}

/*                     Main Styling                                            */
#custom-powermenu,
#cpu,
#workspaces,
#temperature,
#memory,
#clock,
#pulseaudio,
#window,
#disk,
#keyboard-state,
/*#taskbar,
#custom-steam,
#custom-discord,
#custom-thunderbird,*/
#tray{
  padding: 2px 8px;
  background-color: rgba(30,36,43,0.8); /*#303643; */
  margin: 4px 4px;
  border-radius: 8px;
  color: #eeeeef;
}

/*
#tray > .passive {
	border-bottom: none;
}
#tray > .active {
	border-bottom: 3px solid white;
}

#tray > .needs-attention {
	border-bottom: 3px solid @warning_color;
}
#tray > widget {
	transition: all 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
}
#tray > widget:hover {
	background: @bg_hover;
}*/

/*                          Specific Styling                      */
#window {
  color:  #ffffff; 
}

#custom-powermenu {
  color: #e06c75;
  padding-right: 12px;
}


#pulseaudio {
  color: #0fb9b1;
  padding-right: 14px;
}

#cpu {
  color: #61afef;
}

#temperature {
  color: #FF7F7F;
}

#memory {
  color: #e5c07b;
}

#workspaces{
  padding-left: 5px;
  padding-right: 4px;
}



/*                       Styling for Quick Links                                */
#custom-steam,
#custom-thunderbird,
#custom-discord{
  background-color: rgba(30,36,43,0.8);
  border-radius: 8px;
  margin: 4px 4px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 90%;
}
#custom-steam{
  padding-left: 6px;
  color: #c7d5e0;
  /*background-image: url('/usr/share/icons/Tela/scalable/apps/steam.svg'); color: #A4E1FF*/
}
#custom-thunderbird{
  padding-left: 4px;
  color: #76f9ee;
  /*background-image: url('/usr/share/icons/Tela/scalable/apps/thunderbird.svg');*/
}
#custom-discord{
  padding-left: 4px;
  padding-right: 1px;
  color: #9CA6FF;
  /*background-image: url('/usr/share/icons/Tela/scalable/apps/discord.svg');*/
}

/*quicklinks{
    background: #1e222a;
    color: #eeeeef;
    animation: tb_active 20s ease-in-out 1;
    padding: 2px 8px;
    background-color: rgba(30,36,43,0.8);    margin: 4px 4px;
    border-radius: 8px;
    color: #eeeeef;
}*/


